@use "../../styles" as s;

.button {
  grid-column: 1/3;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-cyan);
  border: 1px solid var(--dark-cyan);
  border-radius: s.rem(8);

  &:visited,
  &:hover {
    background-color: hsl(158, 35.8%, 26.9%);
    cursor: pointer;
  }

  &__action {
    padding: s.rem(16) 0;
    margin-bottom: 0;
  }
}
